node_modules/
package-lock.json
npm-debug.log*

/frontend/build
/frontend/dist
/frontend/package-lock.json
/backend/dist
/backend/package-lock.json

.env
.env.local

.vscode/
.idea/
.DS_Store

*.log

coverage/

.cache/
.vite/
